# --- Environment & System Files ---
*.env
*.json
*.txt
__pycache__/
node_modules/
.vscode/
.kiro/
.vscode
.kiro/*

# --- Python ---
*.pyc

# --- Frontend ---
frontend/node_modules/
frontend/build/
frontend/package-lock.json

frontend/src/components/Other/
frontend/src/components/output.json
frontend/src/components/Test.jsx

# --- Backend ---
backend/reports/
backend/cis-reports/
backend/modules/Logs/Cloudtrail/
backend/modules/Logs/CloudWatch/
backend/modules/Logs/DNS/
backend/modules/Logs/VPC_Flow_logs/
/backend/venv
!utils/site24x7_dashboards.json

# --- Project Files ---
main.py
backend/test.py
backend/logs/ip_blocked.log
!backend/utils/site24x7_dashboards.json
!backend/utils/site24x7_settings.json
backend/backend.log


awscliv2.zip
aws/

lambda/
